.feedbacks{
    &__title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &-text{
            font-size: 16px;

            &-link{
                display: flex;
                flex-wrap: wrap;
                line-height: 1.4;
                font-size: 14px;
                text-decoration: underline;
                color: #005da1;
                font-weight: normal;
                transition-duration: 0.5s;

                @include screen-sm {
                    display: inline;
                    padding-left: 5px;
                }
            }
        }

        &-icons{
            display: flex;
            justify-content: space-between;
            width: 88px;


            &-item{
                display: flex;
                align-items: center;

                img{
                    height: fit-content;
                    margin-right: 5px;
                }

                &-number{
                    font-size: 12px;
                }
            }

        }
    }

    &__content{
        &-item{
            &-person-info{
                font-weight: bold;
                margin-right: 7px;

                span{
                    font-weight: 400;
                    color: #808080;
                    font-size: 11px;
                    line-height: 1.7;
                }
            }

            &-comment{
                position: relative;
                margin-top: 15px;
                margin-bottom: 20px;
                padding: 17px 15px 14px;
                border: 1px solid #cfcfcf;
                background: #f2fbff;
                line-height: 1.4;

                ::before {
                    position: absolute;
                    content: url('../../images/decor.png');
                    top: -12px;
                    left: 23px;
                }
            }
        }
    }
}

.feedbacks__title-text-link:hover{
    color: pink;
}

