html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit
}

body {
    margin: 0;
    font: 400 14px Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color:inherit;
}

p {  
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content{
    max-width: 720px;
    padding: 15px 20px 0 20px;
    margin: 0 auto;
}